* {
  font-family: jost;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
:root {
  --mainColor: #0a2d4d;
}
html {
  font-size: 62.5%;
}

/*!======= reuseable code =======*/

.main-container,
.container,
.password-body,
.password-body > p,
.password-body > p > .toggleBtns,
.password-type-container > .type-content,
.password-copy-status,
.type-selector,
.password-features,
.password-features label,
.password-features > div,
.label {
  display: flex;
}

.main-container,
.container,
.password-body {
  flex-direction: column;
}
.main-container,
.container,
.password-body,
.password-body p:nth-child(2) > #display,
.password-body > p,
.password-body > p > .toggleBtns,
.password-type-container > .type-content,
.password-copy-status,
.type-selector,
.password-features,
.password-features > label,
.label {
  justify-content: center;
  align-items: center;
}

.header {
  text-align: center;
}

input,
button,
.password-body > p:nth-child(2) > #display {
  color: black;
}

.label,
.password-body > p:nth-child(2) {
  text-transform: none;
}

/*!======= reuseable code ends=======*/

.main-container {
  background-color: var(--mainColor);
  border-radius: 0 0 20% 20%;
  -webkit-border-radius: 0 0 20% 20%;
  -moz-border-radius: 0 0 20% 20%;
  -ms-border-radius: 0 0 20% 20%;
  -o-border-radius: 0 0 20% 20%;
  height: 100%;
}

.container {
  width: 700px;
  height: fit-content;
  gap: 10px;
  margin: 20px 0 30px;
}
/*!======= header styling =======*/
.header > .heading {
  font-size: 3.5rem;
}

.header > .heading-para {
  font-size: 2rem;
}

/*!======= display parent styling =======*/
.password-body,
.password-features,
.password-body > p,
.password-type-container {
  width: 100%;
}

.password-body {
  gap: 10px;
  font-size: 2rem;
}

/*!======= display styling =======*/
.password-body > p:nth-child(2) {
  background-color: white;
  height: fit-content;
  padding-right: 20px;
  border: 1px solid white;
}

.password-body > p:nth-child(2),
.password-body > p:nth-child(2) > #display,
.password-features {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.password-body p:nth-child(2) > #display {
  border: none;
  outline: none;
  width: 70%;
}
.password-body p:nth-child(2) > #display,
.password-copy-status > button {
  font-size: 2.5rem;
  padding: 5px 10px;
}

.password-body > p {
  justify-content: space-between;
}

/*!==== show hide icons =====*/
.password-body > p > .toggleBtns > i {
  font-size: 3rem;
  color: black;
}

.password-body p:nth-child(2) > .toggleBtns .hide {
  display: none;
}

/*!======= type container styling =======*/

.password-type-container > p {
  margin-bottom: 10px;
}

.type-content {
  gap: 1rem;
}
.type-content :is(.type-selector, button) {
  flex-grow: 1;
  font-size: 2.3rem;
  padding: 5px 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  color: white;
}

.type-content > .type-selector {
  background-color: transparent;
  border: 4px solid rgb(59, 87, 113);
  justify-content: space-between;
}
.type-content > button {
  background-color: rgb(5, 114, 236);
  border: none;
  outline: none;
}
.type-content > button,
.type-content > i,
.password-features :is(input, label) {
  cursor: pointer;
}

.type-content > i {
  font-size: 2rem;
}

/*!======= copied status styling =======*/

.password-copy-status > button {
  font-size: 2.2rem;
  font-weight: 500;
  background-color: rgb(255, 212, 128);
}

/*!======= password features styling =======*/

.password-features {
  padding: 20px 10px;
  gap: 50px;
  background-color: rgb(10, 37, 60);
}

.password-features :is(div, label) {
  gap: 10px;
}

.password-features input[type="checkbox"] {
  width: 25px;
  height: 25px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
